# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-ltc.desktop

[Desktop Entry]
Comment=SafeCoin wallet
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-safecoin %u"
GenericName[en_US]=Electrum SafeCoin Wallet
GenericName=Safecoin Wallet
Icon=electrum-safecoin
Name[en_US]=Electrum SafeCoin Wallet
Name=Electrum SafeCoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-safecoin
Terminal=false
Type=Application
MimeType=x-scheme-handler/safecoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-safecoin --testnet %u"
Name=Testnet mode
